{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header>
        <a href="/">retour</a>
        <h1>Django Project</h1>
    </header>
    <div class="content">
        <div class="hello">
            <h3>Bonjour {{nom}}.{{prenom}}</h3>
        </div>
        <div class="bt_list">
            <input class="w-40 btn btn-lg btn-primary" type="button" value="Liste d'attente">
            <input class="w-40 btn btn-lg btn-primary" type="button" value="Chansons">
            <input class="w-40 btn btn-lg btn-primary" type="button" value="C'est nouveau">
            <input class="w-40 btn btn-lg btn-primary" type="button" value="Profil">
        </div>
    </div>
</body>
</html>